.divPartner{
    margin-left: 100px; 
    margin-right: 50px; 
    margin-bottom: 50px;
}

.ficha{
    height: 842px; width: 800px;
    margin-left: auto; margin-right: auto;
}
@import '~bs-stepper/dist/css/bs-stepper.min.css';