.divPartner{
    margin-left: 100px; 
    margin-right: 50px; 
    margin-bottom: 50px;
}

// .ng-autocomplete2{ 
//     box-shadow: 10px 10px 5px #ccc;
// }

.btnCrearSocio{
    margin-top: 15px;
    background-color: #e85327;
    color: white;
    box-shadow: 10px 10px 5px #ccc;
}

.acordeon {
    box-shadow: 10px 10px 5px #ccc;
}

.accordion{
    box-shadow: 10px 10px 5px  #ccc;
    margin-top: 15px;
}


@import '~bs-stepper/dist/css/bs-stepper.min.css';
// #ed8524;